In [1]:
import pandas as pd
from scipy.stats import f_oneway

In [3]:
# Create a DataFrame with the student scores
data = {
    'Name': ['Karan', 'Deepa', 'Karthik', 'Chandan','Jeevan'],
    'Exam 1': [85,70,90,75,95],
    'Exam 2': [90,80,85,70,92],
    'Final Exam': [92,85,88,75,96]
}

In [4]:
df = pd.DataFrame(data)
df.head()

      Name  Exam 1  Exam 2  Final Exam
0    Karan      85      90          92
1    Deepa      70      80          85
2  Karthik      90      85          88
3  Chandan      75      70          75
4   Jeevan      95      92          96

In [5]:
# Perform one-way ANOVA
statistic, p_value = f_oneway(df['Exam 1'], df['Exam 2'], df['Final Exam'])

# Check if the mean scores are the same
if p_value < 0.05:
    print("The mean scores of the students are not the same.")
else:
    print("The mean scores of the students are the same.")

The mean scores of the students are the same.

In [6]:
# Find the student with the highest score
highest_score_student = df.loc[df['Final Exam'].idxmax(), 'Name']
print(f"The student with the highest score is {highest_score_student}.")

The student with the highest score is Jeevan.